<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Kontak</title>
</head>
<body>
    <h2>Untuk pemesanan online atau katering, hub:</h2>
    <br>
    <table>
        <tr>
            <th>No</th>
            <th>Nama</th>
            <th>Telepon</th>
        </tr>
        <tr>
            <td>1</td>
            <td>Joko</td>
            <td>081234567890</td>
        </tr>
        <tr>
            <td>2</td>
            <td>Wawan</td>
            <td>081209876543</td>
        </tr>
    </table>
    <br>
    <br>
    <a href="/">Kembali ke halaman awal</a>
</body>
</html>